<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Flask CLUD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>

        {% extends "application.html" %}

        {% block content %}
            <h1>投稿一覧</h1>

        <p><a href="/new">新規登録画面</a></p>

        {% for post_val in get_posts %}

        <div>
            <p>{{ post_val.id }}: {{ post_val.title }}</p>
            <p>{{ post_val.body }}</p>
            <p><a href="{{ post_val.id }}/edit">編集</a></p>
        </div>

        <div>
            <a href="{{ post_val.id }}/delete">削除</a>
        </div>

        {% endfor %}


        <p>GET記事:::１件:::{{ p_get.id }} : {{ p_get.title }} : {{ p_get.body }}</p>
        
        <p>filter::: {{ p02_get.id }} : {{ p02_get.title }} : {{ p02_get.body }}</p>
        {% endblock %}
    
    </body>
</html>